<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Coderkube_Team::Team" title="Coderkube" sortOrder="11">
                    <resource id="Coderkube_Team::Member" title="Meet the Team Member Edit" />
                    <resource id="Coderkube_Team::Category" title="Meet the Team Category Edit" />
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Coderkube_Team::contentconfig" title="Meet the Team" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>