<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <team_tab>
            <general>
                <enable>1</enable>
                 <footerlink>1</footerlink>
                <headerlink>1</headerlink>
            </general>
        </team_tab>
    </default>
</config>