<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="our_team" id="our_team">
			<module before="Coderkube_Team" name="Coderkube_Team"/>
		</route>
	</router>
</config>
